.nav {
  width: 100%;
  height: 100%;
  top: 0px;
  right: -100%;
  -webkit-transition: 1s;
  transition: 1s;
    overflow: hidden;
    position: fixed;
  z-index: 9999 !important;
}

.close-nav {
  display: block;
  padding-top: 15%;
  width: 100%;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
}
.nav .social-icon {
  width: auto;
  height: 32px;
  margin: 0px 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.6;
}
.nav .social-icon:hover {
  opacity: 1;
}
.nav .social-icon.home:hover {
  -webkit-filter: none;
  filter: none;
}
.nav-footer i {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.nav-footer i:hover {
  margin-top: 5px;
}
.box-nav {
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  z-index: 1000000;
}
.btn-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  cursor: pointer;
}
.box-nav .btn-nav span {
  display: block;
  width: 100%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 3px;
  background: #44546a;
  transition: all .3s;
  position: relative;
  opacity: 0.7;
}
.box-nav:hover .btn-nav span {
  opacity: 1;
}
.box-nav .btn-nav span + span {
  margin-top: 8px;
}
.box-nav .active span:nth-child(1) {
  animation: ease .7s top forwards;
}
.box-nav .not-active span:nth-child(1) {
  animation: ease .7s top-2 forwards;
}
.box-nav .active span:nth-child(2) {
  animation: ease .7s scaled forwards;
}
.box-nav .not-active span:nth-child(2) {
  animation: ease .7s scaled-2 forwards;
}
.box-nav .active span:nth-child(3) {
  animation: ease .7s bottom forwards;
}
.box-nav .not-active span:nth-child(3) {
  animation: ease .7s bottom-2 forwards;
}
@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 13px;
    transform: rotate(0);
  }
  100% {
    top: 13px;
    transform: rotate(45deg);
  }
}
@keyframes top-2 {
  0% {
    top: 12px;
    transform: rotate(45deg);
  }
  50% {
    top: 12px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}
@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 10px;
    transform: rotate(0);
  }
  100% {
    bottom: 10px;
    transform: rotate(135deg);
  }
}
@keyframes bottom-2 {
  0% {
    bottom: 12px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 12px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}
@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.nav a {
  font-weight: 500;
  padding-top: 7px;
}
.nav a.home_nav {
  margin-right: 14px;
}
.nav .item {
  display: flex;
  height: 80px;
  align-items: center;
  cursor: pointer;
  padding: 10px 15px 10px 30px;
}
.nav .item img {
  width: 100px;
  height: auto;
  margin-left: 10px;
}
.nav .item span {
  flex: 1;
  font-size: 30px;
  font-weight: 400;
  display: block;
  line-height: 35px;
}
.nav .item span span.sm_font {
  font-size: 14px;
  display: block;
  line-height: 18px;
  color: #666666;
  font-family: 'amadeusregular';
}
.nav .item:hover {
  background-color: #ffffff;
}
.nav .item:hover span {
  font-weight: bold;
}
.nav-header {
  height: 80px;
  display: block;
  align-items: center;
  text-align: right;
  padding: 25px 7px 23px 60px;
}
.nav-header i {
  margin-right: 10px;
}
.nav-footer {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #bfdbda;
  font-size: 20px;
}
.nav-footer i {
  font-size: 30px;
  margin-left: 10px;
}
.nav-footer img {
  height: 40px;
  margin-left: 10px;
  opacity: 0.6;
}
.nav-footer:hover {
  color: #ffffff;
}
.nav-footer:hover img {
  opacity: 1;
}
.nav i, .nav-icon i {
  font-size: 45px;
  padding-top: 4px;
}
.nav i:hover, .nav-icon i:hover {}

.nav-icon {
  position: absolute;
  top: 0px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 1440px) and (max-height: 800px) {

}
@media (max-width: 1366px) and (min-height: 900px) {}
@media (max-height: 700px) {

}
@media screen and (max-width: 1024px) {


}
@media screen and (max-width: 480px) {

}
@media screen and (max-height: 480px) {


}