.baseFilter {
  display: block
}
.baseFilter__title {
  font: 500 22px/1 Gotham Pro, sans-serif;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #191919;
  cursor: pointer
}
.baseFilter__title:before {
  content: "";
  background-color: #eee;
  position: absolute;
  left: -19px;
  right: -19px;
  height: 16px;
  top: 13px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: background-color .3s ease, -webkit-transform .3s ease;
  transition: background-color .3s ease, -webkit-transform .3s ease;
  transition: transform .3s ease, background-color .3s ease;
  transition: transform .3s ease, background-color .3s ease, -webkit-transform .3s ease
}
.baseFilter__title h1, .baseFilter__title span {
  font: inherit;
  color: inherit;
  position: relative
}
.baseFilter__title h1:before, .baseFilter__title span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  border-radius: 19px;
  border: 2px dashed #000;
  pointer-events: none;
  opacity: 0
}
.baseFilter__header {
  display: block;
  position: relative;
  cursor: pointer;
  width: calc(100% - 147px)
}
.baseFilter__header .active {
    color: #f7941d !important;
}
body:not(.is-touch) .baseFilter__header:hover .baseFilter__title:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}
body.js-focus-visible .baseFilter__header[data-focus-visible-added] .baseFilter__title h1:before, body.js-focus-visible .baseFilter__header[data-focus-visible-added] .baseFilter__title span:before {
  opacity: 1
}
.baseFilter__icon {
  width: 16px;
  height: 16px;
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  margin-top: -8px
}
.baseFilter__icon:after, .baseFilter__icon:before {
  content: "";
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 4px;
  top: 50%;
  left: 0;
  display: block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}
.baseFilter__icon:before {
  -webkit-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease
}
.baseFilter__body {
  overflow: hidden;
  height: 0;
  -webkit-transition: height .6s ease-in-out;
  transition: height .6s ease-in-out
}
.baseFilter__list {
  padding-top: 38px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: -29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.baseFilter__item {
  display: block;
  width: 50%;
  margin-bottom: 29px
}
.baseFilter__link {
  font: 700 17px/1.3em Proxima Nova, sans-serif;
  text-decoration: none;
  color: #191919;
  position: relative;
  display: inline-block
}
.baseFilter__link:before {
  content: attr(data-title);
  font-weight: 500;
  display: inline-block;
  position: absolute;
  background-color: #fff;
  color: #999;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease
}
.baseFilter__link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  border-radius: 19px;
  border: 2px dashed #000;
  pointer-events: none;
  opacity: 0
}
body:not(.is-touch) .baseFilter__link:hover:before {
  opacity: 0
}
body.js-focus-visible .baseFilter__link[data-focus-visible-added]:after {
  opacity: 1
}
.baseFilter__link--active:before {
  opacity: 0
}
.baseFilter--open .baseFilter__title:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}
.baseFilter--open .baseFilter__icon:before {
  -webkit-transform: translateY(-50%) rotate(0);
  transform: translateY(-50%) rotate(0)
}
.baseFilter--active .baseFilter__title:before {
  background-color: #fff0bd;
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}
@media only screen and (max-width:2199px) and (min-width:1750px) {
  .baseFilter__title {
    font-size: 18px
  }
  .baseFilter__title:before {
    left: -14px;
    right: -14px;
    height: 13px;
    top: 9px
  }
  .baseFilter__header {
    width: calc(100% - 98px)
  }
  .baseFilter__icon {
    width: 13px;
    height: 13px;
    margin-top: -6.5px
  }
  .baseFilter__list {
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 37px;
    margin-bottom: -19px
  }
  .baseFilter__item {
    margin-bottom: 19px
  }
  .baseFilter__link {
    font-size: 14px
  }
}
@media only screen and (max-width:1749px) and (min-width:1250px) {
  .baseFilter__title {
    font-size: 17px
  }
  .baseFilter__title:before {
    left: -8px;
    right: -8px;
    height: 12px;
    top: 10px
  }
  .baseFilter__header {
    width: calc(100% - 80px)
  }
  .baseFilter__icon {
    width: 11px;
    height: 11px;
    margin-top: -5.5px
  }
  .baseFilter__list {
    display: block;
    padding-top: 29px;
    padding-left: 43px;
    padding-right: 43px;
    margin-bottom: -16px
  }
  .baseFilter__item {
    width: 100%;
    margin-bottom: 16px
  }
}
@media only screen and (max-width:1249px) and (min-width:920px) {
  .baseFilter__title {
    font-size: 14px
  }
  .baseFilter__title:before {
    left: -9px;
    right: -8px;
    height: 10px;
    top: 7px
  }
  .baseFilter__header {
    width: 100%
  }
  .baseFilter__icon:after, .baseFilter__icon:before {
    height: 2px
  }
  .baseFilter__list {
    display: block;
    padding-top: 21px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: -16px
  }
  .baseFilter__item {
    width: 100%;
    margin-bottom: 16px
  }
}
@media only screen and (max-width:919px) {
  .baseFilter__title {
    font-size: 17px
  }
  .baseFilter__icon:after, .baseFilter__icon:before {
    height: 3px
  }
}
@media only screen and (max-width:599px) {
  .baseFilter__title {
    font-size: 14px
  }
  .baseFilter__title:before {
    left: -8px;
    right: -8px;
    height: 10px;
    top: 7px
  }
}
@media only screen and (max-width:919px) and (min-width:600px) {
  .baseFilter__title:before {
    left: -7px;
    right: -7px;
    height: 12px;
    top: 10px
  }
  .baseFilter__header {
    width: calc(100% - 20px)
  }
}
@media only screen and (max-width:599px) and (min-width:430px) {
  .baseFilter__header {
    width: 100%
  }
  .baseFilter__list {
    padding-top: 29px;
    padding-left: 30px;
    padding-right: 0;
    margin-bottom: -16px
  }
}
@media only screen and (max-width:429px) {
  .baseFilter__header {
    width: 100%;
    display: block
  }
  .baseFilter__list {
    display: block;
    padding-top: 19px;
    margin-bottom: -16px
  }
  .baseFilter__item {
    width: 100%;
    margin-bottom: 16px
  }
}
@media only screen and (max-width:1249px) {
  .baseFilter__icon {
    width: 10px;
    height: 10px;
    margin-top: -5px
  }
}
@media only screen and (max-width:2199px) and (min-width:1250px) {
  .baseFilter__icon:after, .baseFilter__icon:before {
    height: 3px
  }
}
@media only screen and (max-width:1249px) and (min-width:600px) {
  .baseFilter__list {
    padding-top: 29px;
    padding-left: 39px;
    padding-right: 0;
    margin-bottom: -16px
  }
}
@media only screen and (max-width:1249px) and (min-width:430px) {
  .baseFilter__item {
    margin-bottom: 16px
  }
}
@media only screen and (max-width:1749px) {
  .baseFilter__link {
    font-size: 13px
  }
}
.workItem {
  width: 33.33333%;
  background-color: #fff;
  float: left;
  overflow: hidden;
  position: relative
}
.workItem__link {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}
.workItem__link:active ~ .workItem__padding img {
  -webkit-transform: translateX(-50%) scale(.95);
  transform: translateX(-50%) scale(.95)
}
body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__grad {
  -webkit-transform: translate(-50%, -50%) scale(4);
  transform: translate(-50%, -50%) scale(4)
}
body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__year {
  opacity: 1;
  -webkit-transform: translateY(-145%);
  transform: translateY(-145%);
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms
}
body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__title, body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__type {
  -webkit-transform: translateY(-90px);
  transform: translateY(-90px)
}
body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__title span {
  border-color: #fff
}
body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__type {
  -webkit-transition-duration: .42s;
  transition-duration: .42s
}
@supports (-ms-ime-align:auto) {
  body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__circle {
    -webkit-transform: translate(-50%, -50%) scale(4);
    transform: translate(-50%, -50%) scale(4)
  }
  body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__footer {
    color: #fff
  }
}
body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__overflow {
  -webkit-clip-path: circle(100% at 50% 41.5%);
  clip-path: circle(100% at 50% 41.5%)
}
.workItem__container {
  padding: 10% 5%;
}
.workItem__inner {
  width: 100%;
  padding-top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative
}
.workItem__grad {
  pointer-events: none;
  background: radial-gradient(center, hsla(0, 0%, 100%, .19), hsla(0, 0%, 100%, 0));
  z-index: 2
}
.workItem__circle, .workItem__grad {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
  transform-origin: center;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .45s ease;
  transition: -webkit-transform .45s ease;
  transition: transform .45s ease;
  transition: transform .45s ease, -webkit-transform .45s ease
}
.workItem__circle {
  display: none
}
.workItem__header {
  width: 100%;
  top: 21.5%;
  padding: 0 10%;
  text-align: center;
  max-height: 55px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 6
}
.workItem__header, .workItem__overflow {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.workItem__overflow {
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-clip-path: circle(37% at 50% 41.5%);
  clip-path: circle(37% at 50% 41.5%);
  -webkit-transition: -webkit-clip-path .45s ease;
  transition: -webkit-clip-path .45s ease;
  transition: clip-path .45s ease;
  transition: clip-path .45s ease, -webkit-clip-path .45s ease;
  z-index: 2
}
.workItem__footer {
  margin-top: 35px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7b7575;
  opacity: .9
}
.workItem__footer--light {
  color: #fff;
  margin-top: 0;
  width: 100%;
  opacity: 1
}
.workItem__type {
  font: 300 17px/1em Proxima Nova, sans-serif;
  letter-spacing: -.03em;
  margin-bottom: 5px;
  display: block
}
.workItem__title, .workItem__type {
  color: #fff;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
.workItem__title {
  font: 500 25px/32px Gilroy, sans-serif;
  padding: 0 10px;
  text-align: center;
  position: relative
}
.workItem__title span {
  font: inherit;
  border-bottom: 2px dashed transparent
}
.workItem__image {
  position: absolute;
  max-width: 100%;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -3%;
  z-index: 5;
  will-change: transform;
  opacity: 0;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  -webkit-transform-origin: center;
  transform-origin: center
}
.workItem__image.workItem__show {
  -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, -webkit-transform .3s ease
}
.workItem__image img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.workItem__year {
  font: 900 128px/1em Gilroy, sans-serif;
  color: #fff;
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity .6s ease, -webkit-transform .6s ease;
  transition: opacity .6s ease, -webkit-transform .6s ease;
  transition: transform .6s ease, opacity .6s ease;
  transition: transform .6s ease, opacity .6s ease, -webkit-transform .6s ease
}
.workItem__tags {
  text-align: center;
  display: block;
  width: 100%
}
.workItem__tags li {
  font: 400 17px/28px Proxima Nova, sans-serif;
  position: relative;
  display: inline-block;
  padding: 0 .7em
}
.workItem__tags li + li:before {
  content: "/";
  font: inherit;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}
body:not(.is-touch) .workItem:hover .workItem__grad {
  -webkit-transform: translate(-50%, -50%) scale(4);
  transform: translate(-50%, -50%) scale(4)
}
body:not(.is-touch) .workItem:hover .workItem__overflow {
  -webkit-clip-path: circle(100% at 50% 41.5%);
  clip-path: circle(100% at 50% 41.5%)
}
body:not(.is-touch) .workItem:hover .workItem__year {
  opacity: 1;
  -webkit-transform: translateY(-145%);
  transform: translateY(-145%);
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms
}
body:not(.is-touch) .workItem:hover .workItem__title, body:not(.is-touch) .workItem:hover .workItem__type {
  -webkit-transform: translateY(-90px);
  transform: translateY(-90px)
}
body:not(.is-touch) .workItem:hover .workItem__type {
  -webkit-transition-duration: .42s;
  transition-duration: .42s
}
.workItem--empty .workItem__header {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  max-height: 100%
}
body:not(.is-touch) .workItem--empty:hover .workItem__title {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.workItem--loaded .workItem__image {
  opacity: 1;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease
}
@supports (-ms-ime-align:auto) {
  .workItem__overflow {
    display: none
  }
  .workItem__circle {
    display: block
  }
  .workItem__footer {
    -webkit-transition: color .3s ease;
    transition: color .3s ease
  }
  .workItem:hover .workItem__circle {
    -webkit-transform: translate(-50%, -50%) scale(4);
    transform: translate(-50%, -50%) scale(4)
  }
  .workItem:hover .workItem__footer {
    color: #fff
  }
}
@media only screen and (max-width:1249px) and (min-width:920px) {
  .workItem {
    width: 50%
  }
  body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__year {
    -webkit-transform: translateY(-154%);
    transform: translateY(-154%)
  }
  body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__title, body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__type {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px)
  }
  body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__overflow {
    -webkit-clip-path: circle(99% at 50% 38.5%);
    clip-path: circle(99% at 50% 38.5%)
  }
  .workItem__container {
    padding: 8%
  }
  .workItem__header {
    top: 19.5%;
    max-height: 38px
  }
  .workItem__overflow {
    -webkit-clip-path: circle(37% at 50% 38.5%);
    clip-path: circle(37% at 50% 38.5%)
  }
  .workItem__footer {
    margin-top: 10px;
    height: 60px
  }
  .workItem__image {
    bottom: 0
  }
  .workItem__year {
    font-size: 67px
  }
  .workItem__tags li {
    font-size: 13px;
    line-height: 18px
  }
  body:not(.is-touch) .workItem:hover .workItem__overflow {
    -webkit-clip-path: circle(99% at 50% 38.5%);
    clip-path: circle(99% at 50% 38.5%)
  }
  body:not(.is-touch) .workItem:hover .workItem__year {
    -webkit-transform: translateY(-154%);
    transform: translateY(-154%)
  }
  body:not(.is-touch) .workItem:hover .workItem__title, body:not(.is-touch) .workItem:hover .workItem__type {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px)
  }
  .workItem--empty .workItem__header {
    max-height: 100%
  }
}
@media only screen and (max-width:919px) {
  .workItem {
    width: 50%
  }
  body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__title, body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__type {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px)
  }
  body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__overflow {
    -webkit-clip-path: circle(99% at 50% 40.5%);
    clip-path: circle(99% at 50% 40.5%)
  }
  .workItem__container {
    padding: 8%
  }
  .workItem__header {
    top: 26.5%;
    max-height: 41px
  }
  .workItem__overflow {
    -webkit-clip-path: circle(36% at 50% 40.5%);
    clip-path: circle(36% at 50% 40.5%)
  }
  .workItem__footer {
    margin-top: 38px;
    height: 70px
  }
  .workItem__title {
    font-size: 28px
  }
  .workItem__year {
    font-size: 67px
  }
  .workItem__tags li {
    font-size: 13px;
    line-height: 18px
  }
  body:not(.is-touch) .workItem:hover .workItem__overflow {
    -webkit-clip-path: circle(99% at 50% 40.5%);
    clip-path: circle(99% at 50% 40.5%)
  }
  body:not(.is-touch) .workItem:hover .workItem__title, body:not(.is-touch) .workItem:hover .workItem__type {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px)
  }
  .workItem--empty .workItem__header {
    max-height: 100%
  }
}
@media only screen and (max-width:599px) {
  .workItem {
    width: 100%
  }
  body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__year {
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%)
  }
  body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__title, body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__type {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px)
  }
  body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__overflow {
    -webkit-clip-path: circle(99% at 50% 43.5%);
    clip-path: circle(99% at 50% 43.5%)
  }
  .workItem__container {
    padding: 9% 18%
  }
  .workItem__header {
    top: 20.5%;
    max-height: 41px
  }
  .workItem__overflow {
    -webkit-clip-path: circle(33% at 50% 43.5%);
    clip-path: circle(33% at 50% 43.5%)
  }
  .workItem__footer {
    margin-top: 0;
    height: 52px
  }
  .workItem__image {
    bottom: -3%
  }
  .workItem__year {
    font-size: 67px
  }
  .workItem__tags li {
    font-size: 13px;
    line-height: 18px
  }
  body:not(.is-touch) .workItem:hover .workItem__overflow {
    -webkit-clip-path: circle(99% at 50% 43.5%);
    clip-path: circle(99% at 50% 43.5%)
  }
  body:not(.is-touch) .workItem:hover .workItem__year {
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%)
  }
  body:not(.is-touch) .workItem:hover .workItem__title, body:not(.is-touch) .workItem:hover .workItem__type {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px)
  }
  .workItem--empty .workItem__header {
    max-height: 100%
  }
}
@media print {
  .workItem {
    page-break-inside: avoid
  }
  .workItem:nth-child(3n):before {
    border-right: 1px solid transparent
  }
  .workItem__container {
    padding-top: 1%
  }
  .workItem__circle, .workItem__grad {
    display: none
  }
  .workItem__header {
    top: 4%
  }
  .workItem__overflow {
    display: none
  }
  .workItem__footer {
    margin-top: 0;
    height: 2vw
  }
  .workItem__type {
    font-size: 1.2vw
  }
  .workItem__title, .workItem__type {
    color: #191919;
    line-height: 1.3;
    -webkit-transform: none !important;
    transform: none !important
  }
  .workItem__title {
    font-size: 2vw
  }
  .workItem__image {
    bottom: 6%
  }
  .workItem__year {
    display: none
  }
  .workItem__tags li {
    font-size: .9vw;
    color: #191919;
    line-height: 1
  }
}
@media only screen and (max-width:429px) {
  body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__year {
    -webkit-transform: translateY(-154%);
    transform: translateY(-154%)
  }
  .workItem__container {
    padding: 9% 13%
  }
  .workItem__header {
    top: 22.5%;
    max-height: 38px
  }
  .workItem__overflow {
    -webkit-clip-path: circle(36% at 50% 43.5%);
    clip-path: circle(36% at 50% 43.5%)
  }
  .workItem__footer {
    margin-top: 20px;
    height: 30px
  }
  .workItem__title {
    font-size: 25px
  }
  .workItem__image {
    bottom: -6%
  }
  body:not(.is-touch) .workItem:hover .workItem__year {
    -webkit-transform: translateY(-154%);
    transform: translateY(-154%)
  }
}
@media only screen and (max-width:2199px) and (min-width:1750px) {
  body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__title, body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__type {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px)
  }
  .workItem__header {
    max-height: 46px
  }
  .workItem__footer {
    height: 50px
  }
  .workItem__type {
    font-size: 14px
  }
  .workItem__title {
    font-size: 25px
  }
  .workItem__year {
    font-size: 98px
  }
  .workItem__tags li {
    font-size: 14px;
    line-height: 22px
  }
  body:not(.is-touch) .workItem:hover .workItem__title, body:not(.is-touch) .workItem:hover .workItem__type {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px)
  }
  .workItem--empty .workItem__header {
    max-height: 100%
  }
}
@media only screen and (max-width:1749px) and (min-width:1250px) {
  body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__title, body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__type {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px)
  }
  body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__overflow {
    -webkit-clip-path: circle(97% at 50% 36.5%);
    clip-path: circle(97% at 50% 36.5%)
  }
  .workItem__container {
    padding: 8%
  }
  .workItem__header {
    max-height: 38px
  }
  .workItem__overflow {
    -webkit-clip-path: circle(35% at 50% 36.5%);
    clip-path: circle(35% at 50% 36.5%)
  }
  .workItem__footer {
    margin-top: 20px;
    height: 60px
  }
  .workItem__year {
    font-size: 67px
  }
  .workItem__tags li {
    font-size: 13px;
    line-height: 18px
  }
  body:not(.is-touch) .workItem:hover .workItem__overflow {
    -webkit-clip-path: circle(97% at 50% 36.5%);
    clip-path: circle(97% at 50% 36.5%)
  }
  body:not(.is-touch) .workItem:hover .workItem__title, body:not(.is-touch) .workItem:hover .workItem__type {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px)
  }
  .workItem--empty .workItem__header {
    max-height: 100%
  }
}
@media (-ms-high-contrast:none), screen and (-ms-high-contrast:active) {
  body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__circle {
    -webkit-transform: translate(-50%, -50%) scale(4);
    transform: translate(-50%, -50%) scale(4)
  }
  body.js-focus-visible .workItem__link[data-focus-visible-added] ~ .workItem__container .workItem__footer {
    color: #fff
  }
  .workItem__overflow {
    display: none
  }
  .workItem__circle {
    display: block
  }
  .workItem__footer {
    -webkit-transition: color .3s ease;
    transition: color .3s ease
  }
  .workItem:hover .workItem__circle {
    -webkit-transform: translate(-50%, -50%) scale(4);
    transform: translate(-50%, -50%) scale(4)
  }
  .workItem:hover .workItem__footer {
    color: #fff
  }
}
@media only screen and (max-width:1749px) {
  .workItem__type {
    font-size: 13px
  }
}
@media only screen and (max-width:1749px) and (min-width:920px) {
  .workItem__title {
    font-size: 25px
  }
}
.works {
  padding-right: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative
}
.works__list {
  position: relative;
  width: 66.666%;
  height: 100vh;
  overflow: hidden
}
.works__list:after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f0f0f0;
  z-index: 2;
  width: 3px
}
.works__list .workItem:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-left: 1px solid transparent;
  pointer-events: none
}
.works__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 33.333%;
  height: 100vh;
  border-right: 1px solid #ebebeb;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative
}
.works__filter:after, .works__filter:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(hsla(0, 0%, 100%, 0)));
  background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0));
  z-index: 1;
  pointer-events: none
}
.works__filter:after {
  top: auto;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(hsla(0, 0%, 100%, 0)));
  background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0))
}
.works__filter.works__filter--active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s ease .4s, visibility 0s ease 0s;
  transition: opacity .3s ease .4s, visibility 0s ease 0s
}
.works__filter.works__filter--active ~ .works__filterButton .works__filterButtonBg {
  width: 300vmax;
  height: 300vmax;
  background-color: #fff;
  -webkit-transition: width .6s ease, height .6s ease, background-color .6s ease;
  transition: width .6s ease, height .6s ease, background-color .6s ease
}
.works__filterHeader {
  position: relative;
  width: 100%;
  height: 0
}
.works__filterTitle {
  display: none
}
.works__filterClose {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0
}
.works__filterContent {
  width: 100%
}
.works__filterContent .vb-content {
  max-height: 100vh
}
@supports (-webkit-overflow-scrolling:touch) {
  .works__filterContent .vb-content {
    -webkit-overflow-scrolling: touch
  }
}
.works__filterInner {
  padding: 50px 1.67969vw 50px 7.30469vw;
  overflow: hidden
}
.works__filterInner .baseFilter {
  margin-top: 103px
}
.works__filterInner .baseFilter:first-child {
  margin-top: 0
}
.works__filterButton {
  display: none
}
.works__filterButton svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  z-index: 1
}
.works__filterButtonBg {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  display: block;
  height: 100%;
  background-color: #1e1e1e;
  border-radius: inherit;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: width .4s ease .2s, height .4s ease .2s, background-color .4s ease .2s;
  transition: width .4s ease .2s, height .4s ease .2s, background-color .4s ease .2s;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: width, height
}
.works__preloaderWrapper {
  width: 100%;
  position: relative;
  clear: both;
  padding: 9%
}
.works__preloader {
  margin-left: auto;
  margin-right: auto
}
.works__listPreloader {
  position: fixed;
  top: 0;
  width: calc((100% - 104px)/9*6);
  height: 100vh;
  background-color: #fff;
  right: 104px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.works__listPreloader > .spinner {
  -webkit-transition: opacity 1s ease .5s;
  transition: opacity 1s ease .5s
}
.works__listPreloader.fade-enter-active, .works__listPreloader.fade-leave-active {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease
}
.works__listPreloader.fade-enter, .works__listPreloader.fade-leave-to {
  opacity: 0
}
.works__listPreloader.fade-enter > .spinner, .works__listPreloader.fade-leave-to > .spinner {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s
}
@media only screen and (max-width:2199px) and (min-width:1750px) {
  .works {
    padding-right: 80px
  }
  .works__filterInner .baseFilter {
    margin-top: 74px
  }
  .works__listPreloader {
    width: calc((100% - 80px)/9*6);
    right: 80px
  }
}
@media only screen and (max-width:1749px) and (min-width:1250px) {
  .works {
    padding-right: 70px
  }
  .works__filterInner .baseFilter {
    margin-top: 65px
  }
  .works__listPreloader {
    width: calc((100% - 70px)/9*6);
    right: 70px
  }
}
@media only screen and (max-width:1249px) and (min-width:920px) {
  .works {
    padding-right: 54px
  }
  .works__filter {
    width: 44.44444%
  }
  .works__filterInner {
    padding-right: 9.375vw;
    padding-left: 9.375vw
  }
  .works__filterInner .baseFilter {
    margin-top: 46px
  }
  .works__listPreloader {
    width: calc((100% - 54px)/9*6);
    right: 54px
  }
}
@media only screen and (max-width:919px) {
  .works {
    padding-right: 0;
    padding-top: 70px
  }
  .works__list {
    width: 100%;
    border-right: 0;
    overflow: auto;
    height: auto
  }
  .works__list:after {
    display: none
  }
  .works__filter {
    position: fixed;
    z-index: 430;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 0;
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s ease, visibility 0s ease .3s;
    transition: opacity .3s ease, visibility 0s ease .3s
  }
  .works__filter:after, .works__filter:before {
    display: none
  }
  .works__filterHeader {
    width: 100%;
    height: 70px;
    padding-left: 45px;
    padding-right: 45px;
    border-bottom: 1px solid #ddd;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .works__filterTitle {
    font-family: Gotham Pro, sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 70px;
    display: block;
    height: 70px;
    text-transform: uppercase;
    color: #1e1e1e
  }
  .works__filterClose {
    display: block;
    width: 70px;
    height: 70px;
    cursor: pointer
  }
  .works__filterClose:after, .works__filterClose:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 3px;
    background-color: #000;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg)
  }
  .works__filterClose:before {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg)
  }
  .works__filterContent {
    height: calc(100% - 70px)
  }
  .works__filterButton {
    position: fixed;
    z-index: 410;
    right: 17px;
    bottom: 17px;
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%
  }
  .works__listPreloader {
    top: 0;
    width: 100%;
    right: 0
  }
}
@media only screen and (max-width:599px) {
  .works {
    display: block;
    padding-right: 0;
    padding-top: 60px
  }
  .works__list .vb-content {
    overflow: visible !important;
    height: auto !important;
    width: 100% !important
  }
  .works__filterHeader {
    height: 60px;
    padding-left: 40px;
    padding-right: 40px
  }
  .works__filterTitle {
    font-size: 16px;
    line-height: 60px;
    height: 60px
  }
  .works__filterContent {
    height: calc(100% - 60px)
  }
  .works__filterButton {
    width: 56px;
    height: 56px
  }
}
@media only screen and (max-width:429px) {
  .works {
    display: block;
    padding-right: 0;
    padding-top: 55px
  }
  .works__filterHeader {
    height: 55px;
    padding-left: 20px;
    padding-right: 20px
  }
  .works__filterTitle {
    font-size: 14px;
    line-height: 55px;
    height: 55px
  }
  .works__filterContent {
    height: calc(100% - 55px)
  }
  .works__filterInner {
    padding: 50px 11.875vw
  }
  .works__filterInner .baseFilter {
    margin-top: 46px
  }
  .works__filterButton {
    width: 50px;
    height: 50px
  }
}
@media print {
  .works {
    padding-top: 104px;
    padding-left: 60px;
    padding-right: 60px
  }
  .works__list {
    height: auto;
    width: 100%
  }
  .works__filter, .works__list:after {
    display: none
  }
}
@media only screen and (max-width:2199px) and (min-width:920px) {
  .works__list:after {
    width: 2px
  }
}
@media (-ms-high-contrast:active), (-ms-high-contrast:none) {
  .works__filter.works__filter--active ~ .works__filterButton .works__filterButtonBg {
    width: 2000px;
    height: 2000px
  }
}
@media only screen and (max-width:919px) and (max-width:599px) {
  .works__filterClose {
    width: 60px;
    height: 60px
  }
  .works__filterClose:after, .works__filterClose:before {
    top: 30px;
    width: 20px;
    height: 2px
  }
}
@media only screen and (max-width:919px) and (max-width:429px) {
  .works__filterClose {
    width: 55px;
    height: 55px
  }
  .works__filterClose:after, .works__filterClose:before {
    top: 27px;
    width: 18px;
    height: 2px
  }
}
@media only screen and (max-width:919px) and (max-width:919px) {
  .works__filterClose:after, .works__filterClose:before {
    width: 24px;
    height: 2px
  }
}
@media only screen and (max-width:919px) and (min-width:600px) {
  .works__filterInner {
    padding: 120px 16.40625vw 40px
  }
  .works__filterInner .baseFilter {
    margin-top: 85px
  }
}
@media only screen and (max-width:599px) and (min-width:430px) {
  .works__filterInner {
    padding: 50px 7.91667vw
  }
  .works__filterInner .baseFilter {
    margin-top: 66px
  }
}





.project-post{
	cursor:pointer;
}


.lightbox {
  position: fixed;
   width: 100%;
  height: 100%;
  top: 0%;
  left:0%;
  display: none;
  background: #7f8c8d;
  perspective: 1000;
  z-index:99999;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(20px);
  opacity: 0.5;
  background-position: center;
  background-size: cover;
}

.lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  max-height: 95vh;
  max-width: calc(95vw - 100px);
  transition: 0.8s cubic-bezier(0.7, 0, 0.4, 1);
  transform-style: preserve-3d;
}


/*.lightbox:hover img{
  transform: translate(-50%, -50%) rotateY(180deg);
}*/

[class^="arrow"] {
  height: 200px;
  width: 50px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

[class^="arrow"]:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 15px;
  height: 15px;
}

.arrowr {
  right: 0;
}

.arrowr:after {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.arrowl {
  left: 0;
}

.arrowl:after {
  border-left: 1px solid white;
  border-top: 1px solid white;
}

.lightbox .close {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  margin: 20px;
  cursor: pointer;
      border-radius: 50%;

}

.lightbox .close:after,
.lightbox .close:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
      width: 3px;
    height: 80%;
    background: #fff;
}

.lightbox .close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.lightbox .close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.title {
  font-size: 20px;
  color: #000;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}




